
/*
filename: About.css
author: Ryan Mitchem
created: 29/08/2026 (dd/mm/yyyy)
last modified: 02/09/2026 (dd/mm/yyyy)
description: About Us Page CSS
*/

/* page styling */
html{
    margin-left: 35px;
    margin-right: 35px;
    background-color: #fcfbfb;
}

/* page main body */
body{
    background-color: #e6e3e3;
    border-radius: 25px;
    margin-top: 75px;
}

p{
    text-align: center;
}

/* nagivation bar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #bcbcd8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: 4px solid #3b82f6;
}

/* navigation bar links if visited */
nav a:visited{
    color: Blue;
}

/* navigation bar logo  */
.nav_logo{
    margin: 0;
}

/* navigation bar links */
.nav_links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* navigation bar links hover effects */
.nav_links a:hover{
    color: white;
    text-decoration: underline;
    font-weight: bold;

}

/* navigation bar individual links */
.nav_links a{
    display: inline-block;
    border: 1px solid #3b82f6;
    padding: 0.5rem;
    border-radius: 10px;
}

/* about us heading */
h1{
    color: black;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background-color: #bcbcd8;
    border-left: 4px solid #3b82f6;
    border-radius: 20px;
}

/* group photo */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

/* sub heading */
h2{
    font-size: 2rem;
    padding : 0.4rem;
    border-left: 4px solid #3b82f6;
    background-color: #bcbcd8;
    color: black;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 25px;
}

/* group information list */
ul{
    list-style: square;
    font-style: bold;
    list-style-position: inside;
    text-align: center;
    list-style-type: none;
}

/* nested list items */
ul ul li{
    list-style-type: square;
}

/* group contributions list */
dl{
    max-width: 500px;
    margin: 0, auto;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    display: grid;
    grid-template-columns: 140px 1fr;
    text-align: center;
}

/* definition list term */
dt{
    background-color: #1e1e24;
    color: #ffffff;
    margin: 0;
    padding : 1.75rem;
    letter-spacing: 0.5px;
    border-top: 2px solid #2a2a32;
}

/* definition list term descriptions */
dd{
    margin: 0;
    margin-bottom: 10;
    padding: 1.09rem;
    border-top: 1px solid #e5e7eb;
}

dd:first-of-type{
    border-top: none;
}

/* fun facts table */
table{
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

/* table header */
thead{
    background-color: #1e1e24;
    color: #ffffff;
}

/* table header cells */
th{
    padding: 1rem;
    text-align: center;
    border-left: 2px solid #2a2a32;
}

th:first-of-type{
    border-left: none;
}

/* table description cells */
td{
    padding: 1rem;
    border-left: 2px solid #e0dfdf;
}

td:first-of-type{
    border-left: none;
}

/* table row alternating colours */
tr:nth-child(even){
    background-color: #e0dfdf;
}

tr:hover{
    background-color: #bcbcd8;
}

/* footer  */
footer{
    background-color: black;
    padding: 2rem;
    max-width: 100%;
}

/* styling visited link */
footer a:visited{
  color: #ffffff;
}

/* footer links */
.footer_links{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    color: aqua;
}

/* styling unvisited links specifically */
.footer-links a:link{
  color: #ffffff;
  text-decoration: none;
}

/* footer links hover effects */
.footer_links a:hover{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}