/*
filename: index.css
author: Mason Curlis
created: 28/08/2026
last modified: 31/08/2026
description: Index Page CSS
*/

/* sub heading */


h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
th, td{text-align: center; padding: 5px;}

table, th, td {border: 2px solid;}

