/*

filename: [styles.css]

author: [Group 3]

created: [01/09/2026]

last modified: [02/09/2026]

description: [styles.css for the Applied Web Project]

*/

* {
    font-family: georgia, sans-serif;
}




